<footer class="center-block text-center bg-dark text-white">
  <p id="legal">
    <small>Copyright &copy;<span class="copyright-year"></span> What the &$!#% is Gerrymandering?!?</small>
  </p>
  <div class="social-icons">
    <a href="https://twitter.com/txgerryproject" target="_blank" class="social-icon w-inline-block">
      <img src="https://img.icons8.com/android/240/ffffff/twitter.png" alt="Twitter Icon" width="26">
    </a>
    <a href="https://www.instagram.com/txgerryproject/" target="_blank" class="social-icon w-inline-block">
      <img src="https://img.icons8.com/metro/208/ffffff/instagram-new.png" alt="Instagram Icon" width="26">
    </a>
  </div>
  <br>
</footer>
