<footer>
  <p id="legal" class="center-block text-center bg-dark text-white">
    <small>Copyright &copy;<span class="copyright-year"></span> What the &$!#% is Gerrymandering?!?</small>
  </p>
</footer>
