<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{{ relative_path }}/">
    <img src="img/logo.png" height="60" alt="Logo">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ relative_path }}game.html">QUIZ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ relative_path }}community.html">CITY IMPACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ relative_path }}about.html">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ relative_path }}blog.html">BLOG</a>
      </li>
    </ul>
  </div>
</nav>