{% extends '_templates/base.njk' %}

{% block page_title %}About Us | What the &$!#% is Gerrymandering ?!?{% endblock %}

{% block page_description %}A UT Digital Innovations capstone project.{% endblock %}

{% block content %}
<div class="background">
  <div class="container sect-padding">
    <img src="img/about_us.png" width="100px" height="100px" alt="Black and white logo">
    <p class="icon_title bold_font">About Us</p>

    <h5>
      Our project, What the &$!#% is Gerrymandering?!?, was created to educate the public about the issue of gerrymandering and it’s ridiculously consequential effect it has on our elections. Here we discuss the basics behind gerrymandering (what it is, how it happens, etc.) and how it is affecting our everyday communities. We also have additional content like a map detailing the history of Texas districts, and blog content going over stories related to gerrymandering.
    </h5>
    <br><br>
    <img class="city-img" src="img/team-photo.png" width="100%" alt="Screenshot of team posing on Zoom">

    <br><br>

    <p class="subhead2 bold_font">Meet the team</p>

    <div class="card-deck subhead2 justify-content-md-center">
      <div class="card col-xs-6 col-md-4">
        <img class="card-img-top" src="img/andy-about-pic.png" alt="Photo of Andy in UT Austin attire.">
        <div class="card-body">
          <h5 class="card-title">Andres “Andy” Cerda</h5>
          <h6 class="card-subtitle mb-2 text-muted">Content Writer</h6>
          <p class="card-text">Andy is a senior Journalism and Government student at the University of Texas at Austin. After college, he plans to attend law school.</p>
          <a href="https://www.linkedin.com/in/andycerda/" target="_blank" class="btn btn-dark">Learn more</a>
        </div>
      </div>

      <div class="card col-xs-6 col-md-4">
        <img class="card-img-top" src="img/christina.png" alt="Photo of Christina Peebles">
        <div class="card-body">
          <h5 class="card-title">Christina Peebles</h5>
          <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
          <p class="card-text">Christina is in her final semester of studying journalism at UT Austin. After she graduates in May 2021, she will be working full-time as a software engineer with WillowTree in Ohio.</p>
          <a href="https://chpeebles.github.io/" target="_blank" class="btn btn-dark">Learn more</a>
        </div>
      </div>

      <div class="card col-xs-6 col-md-4">
        <img class="card-img-top" src="img/gabi-about-pic.png" alt="Photo of Gabi Wingso in graduation attire.">
        <div class="card-body">
          <h5 class="card-title">Gabi Wongso</h5>
          <h6 class="card-subtitle mb-2 text-muted">Designer</h6>
          <p class="card-text">Gabi is a senior studying Journalism and Radio-TV-Film at the University of Texas at Austin. After finishing her undergraduate degree, she is pursuing Masters of Science in Marketing in the same school she loves and plans to work in marketing.</p>
          <a href="https://www.itsgabriellewongso.com/" target="_blank" class="btn btn-dark">Learn more</a>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-dark btn-lg subhead2 mb-4">
      <a href="mailto: gerrymanderingproject@gmail.com?subject = Feedback">Contact Us!</a>
    </button>
  </div>
</div>
{% endblock %}