{% extends '_templates/base.njk' %}

{% block page_title %}About Us | What the &$!#% is Gerrymandering ?!?{% endblock %}

{% block page_description %}A UT Digital Innovations capstone project.{% endblock %}

{% block content %}
<div class="background">
  <div class="container sect-padding">
    <img src="img/about_us.png" width="100px" height="100px" alt="Black and white logo">
    <p class="icon_title bold_font">About Us</p>

    <h5>
      What the … is Gerrymandering?!? is a project created by students from the University of Texas at Austin to educate and spread awareness about the importance of redistricting and the consequences of a practice like gerrymandering.
    </h5>
    <br><br>
    <img src="img/team-photo.png" width="100%" alt="Screenshot of team posing on Zoom">

    <br><br>

    <p class="subhead2 bold_font">Meet the team</p>

    <div class="card-deck subhead2">
        <div class="card col-xs-6 col-md-4">
          <!--<img class="card-img-top" src="img/christina.png" alt="">-->
          <div class="card-body">
            <h5 class="card-title">Andres “Andy” Cerda</h5>
            <h6 class="card-subtitle mb-2 text-muted">Content Creator</h6>
            <p class="card-text">Andy is a fourth-year Journalism and Government student attending his final semester at UT. Originally from the Rio Grande Valley, Andy comes from a family of six children and even has a twin brother!</p>
            <a href="#" target="_blank" class="btn btn-dark">Learn more</a>
          </div>
        </div>

        <div class="card col-xs-6 col-md-4">
          <!--<img class="card-img-top" src="img/christina.png" alt="Photo of Christina Peebles">-->
          <div class="card-body">
            <h5 class="card-title">Christina Peebles</h5>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Christina is a senior journalism student in her final semester at UT. You can usually find her nose deep in coding projects or staying up too late on Adobe InDesign as Design Editor of The Daily Texan.</p>
            <a href="https://chpeebles.github.io/" target="_blank" class="btn btn-dark">Learn more</a>
          </div>
        </div>

        <div class="card col-xs-6 col-md-4">
          <!--<img class="card-img-top" src="img/christina.png" alt="">-->
          <div class="card-body">
            <h5 class="card-title">Gabi Wongso</h5>
            <h6 class="card-subtitle mb-2 text-muted">Product Leader</h6>
            <p class="card-text">Gabi is a senior journalism and Radio-TV-Film student currently finishing her final semester at UT. When she is not working or studying, you will find her in her favorite dog park with her dog, Lady, or cooking at home.</p>
            <a href="#" target="_blank" class="btn btn-dark">Learn more</a>
          </div>
        </div>
    </div>

    <button type="button" class="btn btn-dark btn-lg subhead2 mb-4">
      <a href="mailto: gerrymanderingproject@gmail.com?subject = Feedback">Contact Us!</a>
    </button>
  </div>
</div>
{% endblock %}