{% extends '_templates/base.njk' %}

{% block page_title %}Blog | What the &$!#% is Gerrymandering ?!?{% endblock %}

{% block page_description %}A UT Digital Innovations capstone project.{% endblock %}

{% block content %}
<div class="background">
  <div class="container sect-padding">
    <img src="img/blog_icon.png" width="100px" height="100px" alt="Writing icon">
    <p class="icon_title bold_font">Blog</p>

    <h5>
      Welcome to our blog page! This is where we’ll be posting new content about topics related to gerrymandering/redistricting, which will range from written blog posts to explainer videos. 
    </h5>

    <br><br>

    <div class="row blog-row">
      <div class="card-deck">
        <div class="card card-about col-xs-12 col-md-6">
          <a href="https://andycerda.medium.com/following-testing-and-creation-of-a-new-site-ut-project-gets-closer-to-figuring-out-who-gerry-is-61afd8371682" target="_blank">
          <img class="card-img-top" src="img/focus-group.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Following Testing and Creation of new site, UT project gets closer to figuring out who Gerry is</h5>
            <p class="card-text">After returning from a well-deserved Spring Break ...</p>
            <p class="card-text"><small class="text-muted">April 14, 2021</small></p>
          </div>
        </div>

        <div class="card card-about col-xs-12 col-md-6">
          <a href="https://itsgabriellewong.medium.com/despite-snow-pocalypse-gerrymandering-project-makes-crucial-first-steps-b76f19b5e35" target="_blank">
          <img class="card-img-top" src="img/wireframes.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gerrymandering Project Makes Crucial First Steps</h5>
            <p class="card-text">Each state in America redraws its electoral districts ...</p>
            <p class="card-text"><small class="text-muted">March 10, 2021</small></p>
          </div>
        </a>
        </div>

        <div class="card card-about col-xs-12 col-md-6">
          <a href="https://itsgabriellewong.medium.com/gerrymandering-interactive-project-498d5225e630" target="_blank">
          <img class="card-img-top" src="img/team-photo.png" alt="Screenshot of team posing on Zoom">
          <div class="card-body">
            <h5 class="card-title">Meet the Team and Project!</h5>
            <p class="card-text">Every ten years, every U.S. state redraws its electoral ...</p>
            <p class="card-text"><small class="text-muted">Feb. 2, 2021</small></p>
          </div>
          </a>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}