{% extends '_templates/base.njk' %}

{% block page_title %}Blog | What the &$!#% is Gerrymandering ?!?{% endblock %}

{% block page_description %}A UT Digital Innovations capstone project.{% endblock %}

{% block content %}
<div class="background">
  <div class="container sect-padding">
    <img src="img/blog_icon.png" width="100px" height="100px" alt="Writing icon">
    <p class="subhead bold_font">Blog Coming Soon</p>

    <h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </h5>
  </div>
</div>
{% endblock %}