{% extends '_templates/base.njk' %}

{% block page_title %}Community Impact | What the &$!#% is Gerrymandering ?!?{% endblock %}

{% block page_description %}A UT Digital Innovations capstone project.{% endblock %}

{% block content %}
<div class="background">
  <div class="container sect-padding">
    <img src="img/community_icon.png" width="100px" height="100px" alt="Community icon">
    <p class="icon_title bold_font">Community Impact</p>

    <h5>Coming Soon</h5>
  </div>
</div>
{% endblock %}