{% extends '_templates/base.njk' %}

{% block page_title %}Games | What the &$!#% is Gerrymandering ?!?{% endblock %}

{% block page_description %}A UT Digital Innovations capstone project.{% endblock %}

{% block content %}
<div class="background">
  <div class="container sect-padding">
    <img id="game-icon" src="img/game_icon.png" width="125px" height="125px" alt="Game controller icon">
    <p class="icon_title bold_font">Games</p>

    <h5>Coming Soon</h5>
  </div>
</div>
{% endblock %}