{% extends '_templates/base.njk' %}

{% block page_title %}Game | What the &$!#% is Gerrymandering ?!?{% endblock %}

{% block page_description %}A UT Digital Innovations capstone project.{% endblock %}

{% block content %}
<div class="background">
  <p>Coming Soon</p>
</div>
{% endblock %}