{% extends '_templates/base.njk' %}

{% block page_title %}Home | What the &$!#% is Gerrymandering ?!?{% endblock %}

{% block page_description %}A UT Digital Innovations capstone project.{% endblock %}

{% block content %}
<div class="container sect-padding">
  <img class="home-logo" src="img/logo.png" alt="Logo">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<div class="background">
  <div class="container sect-padding">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

    <br>

    <h5>Our district lines continues to change, checkout how it has changed in Texas</h5>

    <hr id="placeholder_timeline">
  </div>

  <img src="img/placeholder_map.png" width="100%" height="80%" alt="Placeholder texas map image">

  <div class="container sect-padding">
    <img src="img/map_icon_2.png" width="100px" height="100px" alt="Map icon">

    <!-- WHY WHAT HOW SECTION -->

    <div class="container bold_font">
      <div class="row justify-content-center">
        <div id="what-event" class="col-xs-auto home-event active">What?</div>
        <div id="why-event" class="col-xs-auto home-event">Why?</div>
        <div id="how-event" class="col-xs-auto home-event">How?</div>
      </div>
    </div>

    <div id="what-sect">
      <p class="subhead bold_font">What is gerrymandering?</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>
      <br><br>
      <img src="img/map_icon_1.png" width="100px" height="100px" alt="Map icon">
      <p class="subhead bold_font">What is redistricting?</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>
    </div>

    <div id="why-sect">
      <p class="subhead bold_font">Why gerrymandering exists</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>
      <br><br>
      <img src="img/map_icon_1.png" width="100px" height="100px" alt="Map icon">
      <p class="subhead bold_font">Why redistricting exists</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>
    </div>

    <div id="how-sect">
      <p class="subhead bold_font">How gerrymandering occurs</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>
      <br><br>
      <img src="img/map_icon_1.png" width="100px" height="100px" alt="Map icon">
      <p class="subhead bold_font">How redistricting occurs</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      </p>
    </div>

    <!-- END WHAT WHY HOW -->
    <!-- BEGIN CITES -->

    <br>

    <p class="subhead2 bold_font_2">See how gerrymandering is affecting your city</p>
    <div class="container cities">
      <div class="row justify-content-center no-gutters">
        <div id="austin-event" class="col-auto home-event active">
          <img src="img/austin_icon.png" width="100px" height="100px" alt="Austin capitol icon">
          <p>Austin</p>
        </div>
        <div id="dallas-event" class="col-auto home-event">
          <img src="img/dallas_icon.png" width="100px" height="100px" alt="Dallas ball icon">
          <p>Dallas</p>
        </div>
        <div id="elPaso-event" class="col-auto home-event">
          <img src="img/el_paso_icon.png" width="100px" height="100px" alt="El Paso icon">
          <p>El Paso</p>
        </div>
        <div id="houston-event" class="col-auto home-event">
          <img src="img/houston_icon.png" width="100px" height="100px" alt="Houston rocket icon">
          <p>Houston</p>
        </div>
        <div id="sanAntonio-event" class="col-auto home-event">
          <img src="img/san_antonio_icon.png" width="100px" height="100px" alt="San Antonio icon">
          <p>San Antonio</p>
        </div>
      </div>
    </div>

    <!-- CITY SECTIONS -->
    <p class="city_explainer" id="austin-sect"> 
      Austin Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    </p>
    <p class="city_explainer" id="dallas-sect"> 
      Dallas Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    </p>
    <p class="city_explainer" id="elPaso-sect"> 
      El Paso Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    </p>
    <p class="city_explainer" id="houston-sect"> 
      Houston Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    </p>
    <p class="city_explainer" id="sanAntonio-sect"> 
      San Antonio Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    </p>
  </div>

  <img id="city" src="img/placeholder_austin_map.png" width="100%" height="80%" alt="Placeholder city map image">

  <!-- END CITIES -->

  <div class="container sect-padding">
    <h5>You think it’s insane? Yeahh.. no &$%!@. Check out how it impacts the community</h5>
    <br>
    <button type="button" class="btn btn-dark btn-lg">
      <a href="{{ relative_path }}community.html">Community Impact</a>
    </button>

    <p class="bold_font_2 subhead2">Want to learn more?</p>

    <div class="container cities">
      <div class="row justify-content-center no-gutters">
        <a class="col-auto home-event" href="{{ relative_path }}game.html" >
          <img src="img/game_icon.png" width="100px" height="100px" alt="Game controller icon">
          <p>Games</p>
        </a>
        <a class="col-auto home-event" href="{{ relative_path }}blog.html" >
          <img src="img/blog_icon.png" width="100px" height="100px" alt="Writing icon">
          <p>Blog</p>
        </a>
        <a class="col-auto home-event" href="{{ relative_path }}about.html" >
          <img src="img/about_us.png" width="100px" height="100px" alt="Icon of people">
          <p>About Us</p>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}