/* BLOG STYLES */

.card {
  border-radius: 25px;
  min-width: 18rem;
  margin-bottom: 2em !important;
}

a:hover {
  text-decoration: none;
}

.card-body {
  p, h5 {
    color: black;
  }

  h5 {
    font-weight: bold;
  }
}

.card-img-top {
  margin-top: 15px; 
  border-radius: 25px;
}

.card-about:hover {
  cursor: pointer;
  background-color: #480C84 !important;
}

.card-about:hover .card-title {
  color: white;
}

.card-about:hover .card-text {
  color: white;
}

.card-about:hover .text-muted {
  color: #c7b3db !important;
}