/* GAME CSS */
#game-icon {
  margin-bottom: -30px;
}

label {
  color: black;
}

.quiz-answer {
  /*background-color: white;
  padding: 20px;
  border-radius: 25px;
  color: #480C84;*/
  display: none;

  b {
    color: #480C84;
  }
}