/* home page */

.home-logo {
  width: 75%;
  padding-bottom: 20px;
}

.home-top, .home-one, .home-two, .home-three {
  padding-top: 40px;
  padding-bottom: 30px;
}

#placeholder_timeline {
  margin-top: 40px;
  border: 5px solid white;
}

/* bold font styles */
.bold_font {
  font-size: 1.75em;
  font-weight: bolder;
  text-transform: uppercase;
}

.bold_font_2 {
  font-size: 1.5em;
  font-weight: bolder;
  text-transform: uppercase;
}

/* subhead margins */
.subhead, .city_explainer {
  margin-top: 20px;
}

.subhead2 {
  margin-top: 40px;
}

/* home event stylings */
.home-event {
  padding-top: 20px;
  padding-bottom: 2.5px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  border-top: 7px solid transparent !important;
  border-bottom: 7px solid transparent !important;
}

.home-event:hover, .home-event:active {
  border-bottom: 7px solid white !important;
  cursor: pointer;
}

.home-event > p {
  margin-top: 10px;
}

/* misc */
.cities {
  font-size: 1.25em;
  font-weight: bold;
}

.active {
  border-bottom: 7px solid white !important;
}

#why-sect, #how-sect, #dallas-sect, #elPaso-sect, #houston-sect, #sanAntonio-sect {
  display: none;
}

/* Community impact button */
button, .cities {
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    color: white;
    text-decoration: none;
  }
}