// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "footer";
@import "home";

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.background {
  background-image: url("../img/Background_website.png");
  color: white;
}

.sect-padding {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* bold font styles */
.bold_font {
  font-size: 1.75em;
  font-weight: bolder;
  text-transform: uppercase;
}

.bold_font_2 {
  font-size: 1.5em;
  font-weight: bolder;
  text-transform: uppercase;
}

/* subhead margins */
.subhead, .city_explainer {
  margin-top: 20px;
}

.subhead2 {
  margin-top: 40px;
}

/* header styles */
h5 {
  font-weight: 400;
}